<html>

<head>
    <title>
        Crear empleado
    </title>
    <!-- vendor css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
    <div style="background: linear-gradient(to right, #001233, #73b4ff); height: 100px;">
        <p style="text-align: center;">
            <img src="/static/assets/images/3logo.png" alt="" class="logo" width="50" height="50">
        </p>
    </div>
    <div class="container" style="margin-top: 10px;">
        <section class="pcoded-main-container">
            <div class="pcoded-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/ "><i class="fa fa-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#">Registrar empleado </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Registrar empleado</h5>
                            </div>
                            <span class="card-body table-border-style">
                                {% if msg %}
                                {{ msg | safe }}
                                {% else %}
                                Escribe la informacion del empleado
                                {% endif %}
                            </span>
                            {% if not success %}
                            <div class="card-body table-border-style">
                                <form action="" method="POST" role="form">
                                    {% csrf_token %}  
                                    {{form.as_p}}
                                    <!-- <div class="row">                                         
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Primer Apellido</label>
                                                <input type="text" class="form-control" id="primer_apellido" {{ form.primer_apellido }} </input>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Segundo Apellido</label>
                                                <input type="text" class="form-control" id="primer_apellido" {{ form.segundo_apellido }} </input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Primer Nombre</label>
                                                <input type="text" class="form-control" id="primer_apellido" {{ form.primer_nombre }} </input>
                                               
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Otros Nombres</label>
                                                <input type="text" class="form-control" id="primer_apellido" {{ form.otros_nombres }} </input>                                             
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>País del Empleo</label>
                                                <select type="text" class="form-control" id="pais_empleo" {{
                                                    form.pais_empleo }}
                                                    <option value=""></option>
                                                    <option>Colombia</option>
                                                    <option>Estados Unidos</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Tipo de identifiacion</label>
                                                <select type="text" class="form-control" id="tipo_identificacion" {{
                                                    form.tipo_identificacion}}
                                                    <option value=""></option>
                                                    <option>Cédula de Ciudadanía</option>
                                                    <option>Cédula de Extranjería</option>
                                                    <option>Pasaporte</option>
                                                    <option>Permiso Especial de Permanencia</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Numero de identifiacion</label>
                                                <input type="text" class="form-control" id="primer_apellido" {{ form.numero_identificacion }} </input>                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Correo Electronico</label>
                                                <input type="text" class="form-control" id="primer_apellido" {{ form.correo_electronico }} </input>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Fecha de ingreso</label>
                                                <input type="date" class="form-control" id="primer_apellido" {{ form.fecha_ingreso }} </input>                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Area</label>
                                                <input type="text" class="form-control" id="primer_apellido" {{ form.area }} </input>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Correo Electronico</label>
                                                <input type="text" class="form-control" id="primer_apellido" {{ form.estado }} </input>
                                             
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Fecha y hora registro</label>
                                                <input type="datetime-local" class="form-control" id="primer_apellido" {{ form.fecha_registro }} </input>
                                            </div>
                                        </div>
                                    </div> -->
                                    <button type="submit" name="crear_empleado"
                                        class="btn btn-success btn-block mb-4">Guardar</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- [ stiped-table ] end -->
                </div>
            </div>
        </section>
    </div>
</body>


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Apex Chart -->
<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<!-- custom-chart js -->
<script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}

</html>