<html>

<head>
    <title>
        Empleados
    </title>
    <!-- vendor css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
    <div style="background: linear-gradient(to right, #001233, #73b4ff); height: 100px;">
        <p style="text-align: center;">
            <img src="/static/assets/images/3logo.png" alt="" class="logo" width="50" height="50">
        </p>
    </div>
    <div class="container">
        <!-- [ Main Content ] start -->
        <section class="pcoded-main-container">
            <div class="pcoded-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Empleados</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i
                                                class="fa fa-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#!">Empleados</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <!-- [ stiped-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Empleados</h5>
                                <span class="d-block m-t-5">Empleados registradas</span>
                            </div>
                            <form method="POST" action="">
                                <div class="card-body table-border-style">
                                    <div class="table-responsive">
                                        <div class="col-xl-12">
                                            <div class="input-group">
                                                <input class="form-control" placeholder="Buscar..." name="buscar"
                                                    value="">
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="fa fa-search"></i> Buscar
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Primer Apellido</th>
                                                    <th>Segundo Apellido</th>
                                                    <th>Primer Nombre</th>
                                                    <th>Otros Nombres</th>
                                                    <th>Pais de Empleo</th>
                                                    <th>Tipo de identifiacion</th>
                                                    <th>Numero de identifiacion</th>
                                                    <th>Correo Electronico</th>
                                                    <th>Fecha Ingreso</th>
                                                    <th>Area</th>
                                                    <th>Estado</th>
                                                    <th>Fecha y hora de registro</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% csrf_token %}
                                                {% if empleados %}
                                                    {% for empleado in empleados %}
                                                    <tr>
                                                        <td>{{forloop.counter }}</td>
                                                        <td>{{empleado.primer_apellido}} </td>
                                                        <td>{{empleado.segundo_apellido}}</td>
                                                        <td>{{empleado.primer_nombre}}</td>
                                                        <td>{{empleado.otros_nombres}}</td>
                                                        <td>{{empleado.pais_empleo}}</td>
                                                        <td>{{empleado.tipo_identificacion}}</td>
                                                        <td>{{empleado.numero_identificacion}}</td>
                                                        <td>{{empleado.correo_electronico}}</td>
                                                        <td>{{empleado.fecha_ingreso}}</td>
                                                        <td>{{empleado.area}}</td>
                                                        <td>{{empleado.estado}}</td>
                                                        <td>{{empleado.fecha_registro}}</td>
                                                        
                                                        <td>
                                                            <a href="{% url 'editar_empleado' empleado.id %}" class="btn text-secondary px-0">
                                                                <i class="far fa-edit fa-lg"></i>
                                                            </a>
                                                            <form action="{% url 'eliminar_empleado' empleado.id %}" method="POST" class="d-inline">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn">
                                                                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                                                </button>
                                                                
                                                            </form>                                               
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- [ stiped-table ] end -->
                </div>
            </div>
        </section>
    </div>
</body>

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Apex Chart -->
<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<!-- custom-chart js -->
<script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}